[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
requests = "*"
flask-login = "*"
python-dotenv = "*"
flask = {extras = ["async"], version = "*"}

[dev-packages]
pytest = "*"
pytest-flask = "*"
black = "*"
pylint = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
